$font-comfortaa: 'Comfortaa', Arial, sans-serif;
$font-roboto: 'Roboto', Arial, sans-serif;

@import 'reset';
@import url(http://fonts.googleapis.com/css?family=Comfortaa:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Roboto);

html,body{
  height: 100%;
  min-height: 100%;
  //overflow-x: hidden;
  width: 100%;
}

body {
}

.container {
  height: 100%;
  margin: 0px 0px 0px 250px;
  padding: 50px 0px 0px 0px;
  width: 975px;
}

.head {
  font-family: $font-comfortaa;
  font-size: 24px;
  opacity: .75;
}

.bar{
  background-image: url("../pent2.jpg");
  float: left;
  margin-top: -50px;
  width: 5%;

  &.top{
    height: 100px;
  }

  &.left{
    box-shadow: -3px -3px 6px 0px rgba(0, 0, 0, 0.2);
    height: 100%;
  }

}

.nav {
  background: #fff;
  font-family: $font-comfortaa;
  font-size: 0; //to fix inline-block space problems of children
  height: 50px;
  position: fixed;
  left: 250px;
  width: 975px;
  //padding: 15px 0px;
  //width: 975px;

    .link {
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    margin: 0px 2.5%;
    opacity: .75;
    padding: 10px 0px;
    //box-shadow: 0px 6px 7px -9px rgba(0,0,0,.3);
    text-align: center;
    //width: 15%;

    &:hover {
      padding: 9px 0px;
      font-weight: 400;
      color: #42EDFF;
      text-shadow: .5px .5px 1px rgba(0, 0, 0, 0.2);
    }
  }
}

.section{
  float: right;
  width: 93%;

  .description{
    font-family: $font-roboto;
    font-size: 1.10em;
    text-indent: 2em;
  }
}

.title {
  border-bottom: 1.5px solid gainsboro;
  font-weight: 300;
  margin-bottom: 10px;
  text-align: left;
  text-indent: .25em;
}



