$font-comfortaa: 'Comfortaa', Arial, sans-serif;
$font-lora: 'Lora', serif;
$font-raleway: 'Raleway', sans-serif;
$font-roboto: 'Roboto', Arial, sans-serif;



@import 'reset';
@import url(http://fonts.googleapis.com/css?family=Comfortaa:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,400italic);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,200,700);
@import url(http://fonts.googleapis.com/css?family=Roboto);


html,body{
  height: 100%;
  min-height: 100%;
  //overflow-x: hidden;
  width: 100%;
}

body {
}

.container {
  height: 100%;
  font-size: 1.15em;
  //margin: 0px 0px 0px 250px;
  left: calc(75% - 900px);
    position: absolute;
  padding: 50px 0px 0px 0px;
  width: 900px;
  font-family: $font-raleway; //for right now
}

.head {
  //font-family: $font-comfortaa;

  font-size: 24px;
  opacity: .75;
}

.bar{
  background-image: url("../pent2.jpg");
  float: left;
  margin-top: -50px;
  width: 5%;

  &.top{
    height: 100px;
  }

  &.left{
    box-shadow: -3px -3px 6px 0px rgba(0, 0, 0, 0.2);
    height: calc(100% + 5%);
  }
}

.button{
  //background-color: #04D8EE;
  background-image: -webkit-linear-gradient(top, #04D8EE, #00B0C2);
  color: white;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.1em;
  //width: 20%;
  //background-image: -webkit-linear-gradient(top, #A6F5FD, #04D8EE);
  float: right;
  font-weight: 400;
  margin-bottom: 9px;


}

.nav {
  background: #fff;
  //font-family: $font-raleway;
  //font-weight: 700;
  //font-family: $font-comfortaa;
  font-size: 0; //to fix inline-block space problems of children
  height: 50px;
  position: fixed;
  //border-bottom: 2px solid;
  left: calc(75% - 900px);
  width: 900px;

  z-index: 2;
  //padding: 15px 0px;
  //width: 975px;

  .link {
    cursor: pointer;
    display: inline-block;
    //font-weight: 400;
    font-family: $font-raleway;
    //font-weight: 700;
    margin: 0px 2.5%;
    opacity: .75;
    padding: 10px 0px;
    //box-shadow: 0px 6px 7px -9px rgba(0,0,0,.3);
    text-align: center;
    //width: 15%;

    &:hover {
      //padding: 9px 0px;
      //font-weight: 300;
      color: #04D8EE;
      //color: rgb(2, 125, 138);
      //text-shadow: .5px .5px 1px rgba(0, 0, 0, 0.2);
    }
  //on scroll js
  //box-shadow: 0px 5px 3px -3px rgba(0,0,0,.5);
  }

  .special {
    font-weight: 700;
    padding: 0px;
    bottom: 10px;
    position: absolute;
    right: 0px;
  }
}

.section {
  float: right;
  width: 87%;
  padding: 0% 3%;
  margin: 15px 0px 0px 0px;
  //border: 1px solid gray;

  &:hover{
    //background-color: gainsboro;
  }

  .text {
    font-family: $font-roboto;
    font-size: 1.10em;
    font-weight: 300;
    line-height: 1.45;
  }

  .left-of-button {
    width: 50%;
    float: left;
    padding-left: 10px;
  }

  .preview {
    float: right;
    clear: right;
        margin-bottom: 0px;
    margin-top: 10px;
    font-size: 1.5em;
    font-weight: 300;
    font-style: italic;
    opacity: .5;

    .arrow-adjust {
      top: 8px;
      right: 8px;
      position: relative;
    }
  }
}

.slider {
  clear: both;
}

.title {
  border-bottom: 1.5px solid gainsboro;
  //font-weight: 300;
  font-family: $font-raleway;
  font-weight: 700;
  margin: 15px 0px 0px -5px;
  //margin-bottom: 10px;
  text-align: left;
  text-indent: .25em;
}



