/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(https://fonts.googleapis.com/css?family=Raleway:500,600,700,400);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  background: #f7f7f5; }

p,
a,
ul,
ol {
  color: #424242;
  font-family: "LatoLatinWeb", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.69;
  margin-top: 10px;
  margin-bottom: 20px; }

ul,
ol {
  padding-left: 2em; }

li {
  margin-bottom: 10px; }

.container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 60px; }
  .container::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 500px) {
    .container {
      top: 50px; } }

#middle-text {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%;
  float: none;
  margin: 0 auto 50px; }
  #middle-text:last-child {
    margin-right: 0; }
  @media screen and (max-width: 740px) {
    #middle-text {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 82.94039%;
      float: none;
      margin: 0 auto 50px; }
      #middle-text:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 500px) {
    #middle-text {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 91.4702%;
      float: none;
      margin: 0 auto 50px; }
      #middle-text:last-child {
        margin-right: 0; } }

.button {
  padding: .5em;
  background-color: #ee6704;
  border-radius: 5px;
  color: #fff;
  display: block;
  font-weight: 600;
  margin: 1.5em auto 1em;
  text-align: center;
  text-decoration: none;
  width: 30%; }
  @media screen and (max-width: 650px) {
    .button {
      width: 40%; } }
  @media screen and (max-width: 500px) {
    .button {
      width: 50%; } }

.masthead {
  font-family: "LatoLatinWebSemibold", "LatoLatinWeb", Arial, sans-serif;
  font-size: 2.1em;
  margin: 1em 0;
  text-align: left; }
  @media screen and (max-width: 340px) {
    .masthead {
      font-size: 1.75em; } }
  @media screen and (max-width: 500px) {
    .masthead {
      font-size: 2em; } }
  .masthead.sub1 {
    font-family: "LatoLatinWeb", Arial, sans-serif;
    font-size: 1.75em;
    color: #333;
    font-weight: 500;
    margin: 0 auto 1em;
    padding-left: 0px;
    text-align: left; }
  .masthead.sub2 {
    text-align: left;
    font-size: 1.25em;
    font-weight: bold;
    font-style: italic; }
  .masthead .m {
    text-align: center; }

.keep-nav {
  background: #fff;
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000; }
  @media screen and (max-width: 340px) {
    .keep-nav {
      height: 44px; } }
  @media screen and (max-width: 850px) {
    .keep-nav {
      background-color: #04d8ee; } }

.nav {
  font-size: 0;
  padding: 10px 0px;
  margin: 0 auto;
  width: 960px;
  z-index: 3;
  /*
    @media screen and (max-width: $break-smallMed) {
      //left: calc(50% - 275px);
      width: 550px;
    }
  
    @media screen and (max-width: $break-small) {
      //left: calc(50% - 240px);
      width: 480px;
    }
  */ }
  .nav .nm {
    color: #333;
    cursor: pointer;
    font-family: "Raleway", sans-serif;
    display: inline-block;
    font-size: 22pt;
    font-weight: 700;
    float: left;
    margin: 0; }
    .nav .nm:hover {
      color: #04d8ee; }
    @media screen and (max-width: 1000px) {
      .nav .nm {
        font-size: 20pt;
        font-weight: 700; } }
    @media screen and (max-width: 340px) {
      .nav .nm {
        font-size: 18pt; } }
    @media screen and (max-width: 850px) {
      .nav .nm {
        color: #fff; }
        .nav .nm:hover {
          color: #424242; }
        .nav .nm span {
          font-weight: 700; } }
  .nav .nv-holder .nv {
    color: #333;
    cursor: pointer;
    font-family: "Raleway", sans-serif;
    font-size: 18pt;
    float: right;
    margin: 0 0 0 4%; }
    .nav .nv-holder .nv:hover {
      color: #04d8ee; }
    @media screen and (max-width: 1000px) {
      .nav .nv-holder .nv {
        font-size: 15pt;
        margin: 3px 0 0 4%; } }
    @media screen and (max-width: 850px) {
      .nav .nv-holder .nv {
        display: none; } }
  .nav .menu {
    display: none;
    float: right;
    top: -10px;
    position: relative;
    width: 50px;
    height: 47px; }
    .nav .menu:hover #Layer_1 {
      fill: #424242; }
    @media screen and (max-width: 850px) {
      .nav .menu {
        display: block; } }
    @media screen and (max-width: 340px) {
      .nav .menu {
        right: -6px;
        height: 44px; } }
    .nav .menu #Layer_1 {
      fill: white;
      top: 13px;
      position: relative;
      height: 20px;
      width: auto; }
      @media screen and (max-width: 340px) {
        .nav .menu #Layer_1 {
          height: 18px; } }
  @media screen and (max-width: 1000px) {
    .nav {
      width: 800px; } }
  @media screen and (max-width: 850px) {
    .nav {
      width: 74.41059%; } }
  @media screen and (max-width: 740px) {
    .nav {
      width: 82.94039%; } }
  @media screen and (max-width: 500px) {
    .nav {
      width: 91.4702%; } }

.section .home {
  width: 65%;
  margin: 0 auto 1em auto; }
.section .blurb {
  float: right;
  clear: right;
  margin-bottom: 5px;
  margin-top: 0px;
  font-size: 1.25em;
  font-weight: 300;
  font-style: italic;
  opacity: .5; }
  .section .blurb .arrow-adjust {
    top: 8px;
    right: 5px;
    position: relative; }

.slider {
  margin: 3em 0; }
  @media screen and (max-width: 1000px) {
    .slider .s-holder .s-nav {
      width: 9%; } }
  @media screen and (max-width: 590px) {
    .slider .s-holder .s-nav img {
      opacity: .75; } }
  .slider .s-holder .content .slider-title,
  .slider .s-holder .content .slider-desc {
    background-color: rgba(0, 0, 0, 0.9);
    padding-left: 10%;
    padding-right: 10%;
    width: 100%; }
    @media screen and (max-width: 1000px) {
      .slider .s-holder .content .slider-title,
      .slider .s-holder .content .slider-desc {
        padding-left: 11%;
        padding-right: 11%; } }
  .slider .s-holder .content .slider-title {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 1.25em; }
  .slider .s-holder .content .slider-desc {
    font-family: "LatoLatinWeb", Arial, sans-serif; }

span.light {
  font-weight: 400; }

span.bold {
  font-weight: bold; }

.preview {
  left: 77%;
  top: 50px;
  position: fixed;
  width: 500px;
  height: 100%;
  opacity: .5; }

/*# sourceMappingURL=main.css.map */
