
@import 'partials/reset';


@import "libraries/bourbon/bourbon.scss";
@import "libraries/neat/neat.scss";




//////@import url(https://fonts.googleapis.com/css?family=Raleway:400,200,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:500,600,700,400);

//@import url(http://fonts.googleapis.com/css?family=Roboto);

////////@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700,300,900);
//@import url(https://fonts.googleapis.com/css?family=Lato:400,300);

$font-raleway: 'Raleway', sans-serif;
//$font-roboto: 'Roboto', Arial, sans-serif;
$font-lato: 'LatoLatinWeb', Arial, sans-serif;
$font-lato-semibold: 'LatoLatinWebSemibold', 'LatoLatinWeb', Arial, sans-serif;
$font-lato-hairline: 'LatoLatinWebHairline', 'LatoLatinWeb', Arial, sans-serif;
$font-lato-light: 'LatoLatinWebLight', 'LatoLatinWeb', Arial, sans-serif;
$font-lato-thin: 'LatoLatinWebThin', 'LatoLatinWeb', Arial, sans-serif;
$font-lato-heavy: 'LatoLatinWebHeavy', 'LatoLatinWeb', Arial, sans-serif;

$orange: rgb(238, 103, 4);
$blue: rgb(4, 216, 238);
$gray: #424242;


$break-mobile-small: 340px;
$break-mobile-medium: 400px;
$break-mobile-large: 500px;

$break-small: 590px;
$break-smallMed: 650px;
$break-medium: 740px;
$break-medLarge: 850px;
$break-large: 1000px;

$header-height: 50px;


html,body{
}

body {
  background: #f7f7f5;
}

p,
a,
ul,
ol {
  color: #424242;
  font-family: $font-lato;
  font-size: 18px;
  line-height: 1.69;
  margin-top: 10px;
  margin-bottom: 20px;
  //padding-left: 1em;
}

ul,
ol {
  padding-left: 2em;
}

li {
  margin-bottom: 10px;
}

.nav {
  //@include outer-container(960px);
}

.container {
  @include outer-container(960px);

  position: relative;
  top: 60px;

  @media screen and (max-width: $break-mobile-large) {
    top: 50px;
  }
}

#middle-text {
  @include span-columns(9 of 12);

  float: none;
  margin: 0 auto 75px;

  &.above-slider {
    margin: 0 auto 30px;
  }

  &.first-blurb {
    margin: 50px auto 75px;
  }

  p {
    //padding-left: 1em;
  }

  @media screen and (max-width: $break-medium) {
    @include span-columns(10 of 12);

    float: none;
    margin: 0 auto 75px;
  }

  @media screen and (max-width: $break-mobile-large) {
    @include span-columns(11 of 12);

    float: none;
    margin: 0 auto $header-height;
  }
}

.button {
  //@include button;

  padding: .5em;
  background-color: $orange;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: block;
    //font-size: 1.25em;
  font-weight: 600;
  margin: 1.5em auto 1em;
  text-align: center;
  text-decoration: none;
  width: 30%;

  &:hover {
    //background: #61E0EE;
  }

  &.below-slider {
    margin: 25px auto 75px;
  }

  @media screen and (max-width: $break-smallMed) {
    //left: calc(50% - 275px);
    width: 40%;
  }

  @media screen and (max-width: $break-mobile-large) {
    //left: calc(50% - 275px);
    width: 50%;
  }

  &.contact-show {
    @include span-columns(4 of 12);
    margin-top: 0px;
  }

  &.contact-copy {
    @include span-columns(8 of 12);
    margin-top: 0px;
    display: none;
    margin-right: 0px;
  }
}

#phone {
  margin-top: 6em;
}
    


//headings-----------------------------------------------------------------


.masthead {
  font-family: $font-lato-semibold;
  //font-weight: 600;
  font-size: 2.1em;
  margin: 1em 0;
  text-align: left;
  color: #424242;

  &.top {
    margin: 1em 0;
    padding: .3em 0 .2em .5em;
    right: .5em;
    width: calc(100% + .5em);
    position: relative;
    background-color: white;
  }

  @media screen and (max-width: $break-mobile-small) {
    font-size: 1.75em;
  }

  @media screen and (max-width: $break-mobile-large) {
    font-size: 2em;
  }



  &.sub1 {
    font-family: $font-lato;
    font-size: 1.75em;
    color: #333;
    font-weight: 500;
    //border-bottom: 1px solid #666;
    margin: 0 auto 1em;
    padding-left: 0px;
    text-align: left;

    &.position {
      margin-bottom: .75em;
      margin-top: 50px;
    }
  }

  &.sub2 {
        text-align: left;
    font-size: 1.25em;
    font-weight: bold;
    font-family: $font-lato-heavy;
    //font-style: italic;
  }

  .m {
    text-align: center;
  }
}

.keep-nav {
  background: #fff;
  height: $header-height;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;

  @media screen and (max-width: $break-mobile-small) {
    height: 44px;
  }

  @media screen and (max-width: $break-medLarge) {
    background-color: #424242;
  }
}

.nav {
  font-size: 0; //to fix inline-block space problems of children
  padding: 10px 0px;
  //position: fixed;
  margin: 0 auto;
  //left: calc(50% - 480px);
  width: 960px;
  z-index: 3;

  .nm {
    color: #333;
    cursor: pointer;
    font-family: $font-raleway;
    display: inline-block;
    font-size: 22pt;
    font-weight: 700;
    float: left;
    margin: 0;

    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none;

    &:hover {
      color: rgb(4, 216, 238);
    }

    @media screen and (max-width: $break-large) {
      font-size: 20pt;
      font-weight: 700;
    }

    @media screen and (max-width: $break-mobile-small) {
      font-size: 18pt;
    }

    @media screen and (max-width: $break-medLarge) {
      color: #fff;
      &:hover {
        color: rgb(4, 216, 238);
      }
      //text-shadow: 1px 1px 1px gray;

      span {
        font-weight: 700;
      }
    }
  }

  .nv-holder {
    display: none;

    @media screen and (max-width: $break-medLarge) {
      right: 12.794705%;
      position: fixed;
      background-color: $gray;
      top: 50px;
      box-shadow: 0px 30px 40px rgba(0,0,0,.3);
      display: block;
    }
    

    @media screen and (max-width: $break-medium) {
      display: block;
      right: 8.529805%;
    }

    @media screen and (max-width: $break-mobile-large) {
      right: 4.2649%;
    }

    @media screen and (max-width: $break-mobile-small) {
      top: 44px;
    }

    



    .na {
      
      color: #333;
      cursor: pointer;
      font-family: $font-raleway;
      font-size: 18pt; //has to be in 'pt' because on inline fix
      float: right;
      margin: 0 0 0 4%;

      -webkit-user-select: none; /* Chrome/Safari */        
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none;
        //padding: 11px 0px;

     &:hover {
      color: rgb(4, 216, 238);
      }

      @media screen and (max-width: $break-large) {
        font-size: 15pt; //has to be in 'pt' because on inline fix
        margin: 3px 0 0 4%;
      }

      @media screen and (max-width: $break-medLarge) {
        display: none;
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        color: #fff;
        padding: 20px 30px;
        margin: 0;

        &:hover {
          color: $blue;
          //background-color: #fff;
        }

        &:active {
          color: $gray;
          background-color: #fff;
        }
      }
    }
  }

  .menu{
    display: none;
    float: right;
    top: -10px;
    position: relative;
    width: 50px;
    height: 47px;

    &:hover{
      #Layer_1 {
        fill: rgb(4, 216, 238);
      }
    }

    @media screen and (max-width: $break-medLarge) {
      display: block;
    }

    @media screen and (max-width: $break-mobile-small) {
      right: -6px;
      height: 44px;
    }



    #Layer_1 {
      fill: white;
      top: 13px;
      position: relative;
      height: 20px;
      width: auto;

      @media screen and (max-width: $break-mobile-small) {
        height: 18px;
      }
    }
  }

  @media screen and (max-width: $break-large) {
    //left: calc(50% - 400px);
    width: 800px;
  }

  @media screen and (max-width: $break-medLarge) {
    //left: calc(50% - 350px);
    width: 74.41059%;
  }

  @media screen and (max-width: $break-medium) {
    //left: calc(50% - 300px);
    //width: 600px;
    width: 82.94039%;

  }
/*
  @media screen and (max-width: $break-smallMed) {
    //left: calc(50% - 275px);
    width: 550px;
  }

  @media screen and (max-width: $break-small) {
    //left: calc(50% - 240px);
    width: 480px;
  }
*/
  @media screen and (max-width: $break-mobile-large) {
    //left: calc(50% - 240px);
    width: 91.4702%;
  }


}

.section {
  //padding: 0% 7.5% 0% 5%;
  //margin: 3em 0px 5em 0px;

  //.text {
  //  font-family: $font-roboto;
  //  font-size: 1.10em;
  //  font-weight: 300;
  //  line-height: 1.45;
  //}

  .home {
    width: 65%;
    margin: 0 auto 1em auto;
    //padding-left: 10px;
  }

  .blurb {
    float: right;
    clear: right;
    margin-bottom: 5px;
    margin-top: 0px;
    font-size: 1.25em;
    font-weight: 300;
    font-style: italic;
    opacity: .5;




    .arrow-adjust {
      top: 8px;
      right: 5px;
      position: relative;
    }
  }
}




.slider {
  margin: 3em 0;
  max-width: 715px;
  margin: 0 auto;

  .s-holder {

    background-color: rgba(0,0,0,0);
    //border-radius: 20px;

    //.s-nav {
    //  &:hover {
    //    + .content{
    //      .slider-title,
    //      .slider-desc {
    //        width: 92%;
    //      }
    //    }
    //  }
    //}

    .s-nav {
      &:hover {
        //background-color: rgba(4, 216, 238, .75);
      }

      &:active {
        //background-color: rgba(4, 216, 238, .85);
      }

      @media screen and (max-width: $break-large) {
        width: 9%;
      }

      @media screen and (max-width: $break-medLarge) {
        //width: 1%;
        img {
          opacity: .75;
        }
      }

      @media screen and (max-width: $break-mobile-large) {
        //width: 1%;
        img {
          opacity: .5;
        }
      }
    }

    .content {
      //clear: both;
      //max-width: 700px;
      //margin: 0 auto;
      //margin-bottom: 1em;
      img {
        display: block;
        border: 0px solid black;
        border-radius: 0px;
      }
      //
      .slider-title,
      .slider-desc {
        background-color: #ddd;
        padding-left: 10%;
        padding-right: 10%;
        width: 100%;
        color: #424242;
        font-family: $font-lato-semibold;

        @media screen and (max-width: $break-large) {
          padding-left: 11%;
          padding-right: 11%;
        }
      }

      .slider-title {
        //font-family: $font-raleway;
        border-top: 5px solid $gray;
        font-weight: 600;
        font-size: 1.25em;
      }

      .slider-desc {
        font-family: $font-lato;
      }
    }
  }
}




span {
  &.light-name,
  .normal {
    font-weight: 400;
  }

  &.italic {
    font-style: italic;
  }

  &.bold {
    font-weight: bold;
  }

  &.clarifier {
    font-size: 70%;
    vertical-align: middle;
    padding-left: .25em;
  }

  &.note {
    color: #dd0055;
  }

  &.hairline {
    font-family: $font-lato-hairline;
  }

  &.light {
    font-family: $font-lato-light;
  }

  &.thin {
    font-family: $font-lato-thin;
  }

  &.semibold {
    font-family: $font-lato-semibold;
  }

  &.heavy {
    font-family: $font-lato-heavy;
  }
}




p {
  &.bold {
    font-weight: bold;
  }

  &.center {
    text-align: center;
  }

  &.italic {
    font-style: italic;
  }

  &.note {
    color: #dd0055;
  }

  &.tag {
    float: right;
    width: 15%;
    height: 50.7969px;
    margin: 0;
    top: -10px;
    background-color: $orange;
    position: relative;

    &.passive {
      width: 20px;

      @media screen and (max-width: $break-mobile-medium) {
        display: none;
      }
    }
  }

  &.front {
    font-size: 20px;
  }

  &.heavy {
    font-family: $font-lato-heavy;
  }
}



.preview {
  left: 77%;
  top: 50px;
  position: fixed;
  width: 500px;
  height: 100%;
  opacity: .5;
}


.details {
      margin: 0em 0em 2em;
}

.job-details {
  //float: right;
  //clear: right;
  //width: 33.33%;

      line-height: 1;
    margin: 0;
    padding: 0;

    margin-top: 7px;
    font-size: 1em;
    //font-weight: bold;

}


.split-text-holder {
  //background-color: #fff;
  margin: 2em 2.35765% 3em;
  overflow: auto;
}

#split-text {
  @include span-columns(6 of 12);

  background-color: rgba(0,0,0,.1);
  border-radius: 15px;

  ul {
    padding: 0em 1em 0em 2em;

    li {
      font-weight: bold;
    }
  }

  p {
    //padding-left: 1em;
  }

  @media screen and (max-width: $break-medium) {
    @include span-columns(10 of 12);

    float: none;
    margin: 0 auto ;
    padding: 1px 0px 10px 0px;
    margin: 25px auto;
    margin-top: 0px;

    &:last-child {
      margin-right: auto;
      margin-bottom: 0px;
    }
  }

  @media screen and (max-width: $break-mobile-large) {
    //@include span-columns(11 of 12);

    //float: none;
    //margin: 0 auto $header-height;
  }
}


.tri-text-holder {
  //background-color: #fff;
  //margin: 2em 2.35765% 3em;
  overflow: auto;
  margin: 2em;
}

#tri-text {
  @include span-columns(4 of 12);

  background-color: rgba(0,0,0,.1);
  border-radius: 15px;

  ul {
    padding: 0em 1em 0em 2em;

    li {
      font-weight: bold;
    }
  }

  p {
    //padding-left: 1em;
  }

  @media screen and (max-width: $break-medLarge) {
    @include span-columns(10 of 12);

    float: none;
    margin: 0 auto ;
    padding: 1px 0px 10px 0px;
    margin: 25px auto;
    margin-top: 0px;

    &:last-child {
      margin-right: auto;
      margin-bottom: 0px;
    }
  }

  @media screen and (max-width: $break-mobile-large) {
    //@include span-columns(11 of 12);

    //float: none;
    //margin: 0 auto $header-height;
  }
}





.skills {
  padding: 15px 0px 10px 0px;
  //margin: 0px;
  background-color: $orange;
  color: white;
  line-height: 1;
  margin: 15px 0px 0px;
  padding: 20px 0px 17px;
}


.blurb-front {
  font-family: $font-lato-heavy;
  font-size: 1.5em;

  //color: $orange;
      text-shadow: 1px 1px 1px rgba(0,0,0,.15);
}

.text-link {
  font-family: $font-lato-heavy;
  text-decoration: none;
  color: $orange;
  //font-style: italic;
  //
  &:hover {
    color: $blue;
  }
}


.nv {
  color: #333;
  cursor: pointer;
  font-family: $font-raleway;
  font-size: 18pt; //has to be in 'pt' because on inline fix
  float: right;
  margin: 0 0 0 4%;

  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none;
    //padding: 11px 0px;

  @media screen and (max-width: $break-medLarge) {

    display: none;
  }

  @media screen and (max-width: $break-large) {
  font-size: 15pt; //has to be in 'pt' because on inline fix
  margin: 3px 0 0 4%;
  }

  &:hover {
    color: rgb(4, 216, 238);
  }
}

.contact-text {
  padding: .5em;
  //background-color: $orange;
  border-radius: 5px;
  border: 2px solid $gray;
  color: $gray;
  //cursor: pointer;
  display: block;
    //font-size: 1.25em;
  font-weight: 600;
  margin: 1.5em auto 1em;
  text-align: center;
  //text-decoration: none;
  //width: 30%;
}

img {
  

  .full {
    @include span-columns(12 of 12);
  }

  &.three-quarter {
    //@include span-columns(9 of 12);
    width: 75%;
    border: 2px solid #fff;
    margin: 3em auto 1em;
    border-radius: 15px;

    @media screen and (max-width: $break-smallMed) {
      width: 90%;
    }

    @media screen and (max-width: $break-mobile-medium) {
      width: 100%;
    }
  

  display: block;
  //width: 75%;

    //margin: 0 auto;
  }
}

.caption {
  font-family: $font-lato-light;
  margin: 1em 0em 3em;
  text-align: center;
}