.div--image {
  &--tall {
    margin: 25px 0;
  }
}


.image {
  &_project {
    width: 100%;

    //temporary for testing
    //height: 140px;
    //temporary for testing
  }

  &--tall {
    //width: 85%;
    margin: 0 auto;
    display: block;

    &--50 {
      width: 50%;

      @media screen and (max-width: $medium-screen) {
        //width: 60%
      }

      @media screen and (max-width: $small-screen) {
        width: 75%;
      }
    }
  }
}

.description--image {
  font-size: 85%;
  font-style: italic;
  margin: 5px auto;
  line-height: 1.2;
  text-align: center;

  &--tall {
    width: 85%;
  }
}
