.panAndZoom {
  position: absolute;
  width: auto;
  height: auto;
  //transition: top 20s, left 20s;
  top: -342px;
  left: -5px;
}



//start @ 0ba389
//go to:
//004E64
//00A5CF
//7AE582
//
//
//red start @ bb2b16
//go to:
//461220
//b23a48
//6914oe
