.panAndZoom {
  position: absolute;
  width: 200%;
  height: auto;
  opacity: .65;
  //top: -342px;
  left: -5px;
}



//start @ 0ba389
//go to:
//004E64
//00A5CF
//7AE582
//
//
//red start @ bb2b16
//go to:
//461220
//b23a48
//6914oe
